# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\intelli IDEA\intelliJ IDEA Projects\leetcode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
